body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
}

h1 {
    color: #333;
}

a {
    text-decoration: none;
    margin-right: 10px;
    color: blue;
}

a:hover {
    color: darkred;
}
